<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_URI} !^/assest/
    RewriteCond %{REQUEST_URI} !^/config/
    RewriteCond %{REQUEST_URI} !^/vendor/
    # Redirect all requests to the public folder
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>