<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect all requests to the public folder
    RewriteRule ^(.*)$ public/$1 [L]

    # If a directory or a file exists, use it directly
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Otherwise, redirect all requests to index.php
    RewriteRule ^(.*)$ index.php?path=$1 [L,QSA]
</IfModule>
