Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Allow access to existing files and directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

</IfModule>
